<script setup>
import { onMounted, ref } from 'vue';

defineProps({
    modelValue: String,
});

defineEmits(['update:modelValue']);

const input = ref(null);

onMounted(() => {
    if (input.value.hasAttribute('autofocus')) {
        input.value.focus();
    }
});

defineExpose({ focus: () => input.value.focus() });
</script>

<template>
    <input
        ref="input"
        class="focus:ring--pink-300"
        :value="modelValue"
        @input="$emit('update:modelValue', $event.target.value)"
    >
</template>

<style scoped>

    input{
        color: var(--main-grey);
        border-radius: 24.5px;
        border: 2px solid var(--third-color);
        transition: all 0.5s ease;
        
    }

    input:focus{
        border: 2px solid var(--second-color);
        
    }

</style>
